{% extends "base.html" %}

{% block pagetitle %} Main Page {% endblock %}

{% block csslinks %} 
    <link rel="stylesheet" type="text/css" href="/static/hello/style.css">    
{% endblock %}



{% block content %}
    <div class="left">
        <div>Name: {{u.first_name}}</div>
        <div>Last name: {{u.last_name}}</div>
        <div>Date of birth: {{u.userprofile.birth_date}}</div>
        <div>Bio: <pre>{{u.userprofile.bio}}</pre></div>
    </div>
    <div class="right">
        <div>Contacts</div>
        <div>Email: {{u.email}}</div>
        <div>Jabber: {{u.userprofile.jabber}}</div>
        <div>Skype: {{u.userprofile.skype}}</div>
        <div>Other contacts: <pre>{{u.userprofile.other_contacts}}</pre></div>
    </div>
    <div>
        <a href="{% url 'edit-user-info' %}" name="edit_page_link">Edit this content</a>
    </div>
{% endblock %}